@font-face {
    font-family: "sbold";
    src: url("fonts/latest.woff2");
}

@font-face {
    font-family: "smedium";
    src: url("fonts/MWFFluentIcons.woff2");
}

@font-face {
    font-family: "sreg";
    src: url("fonts/latest(1).woff2");
}



body {
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;


}

* a:hover{
text-decoration: underline;
}

header {
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
    min-width: 280px;
    height: 54px;
    background-color: white;
    margin-bottom: 1px;

}

.top {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    /* width: 100%; */
    padding: 0px 50px;



}

.header {

    font-size: 15px;
    box-sizing: border-box;


}

#top-nav {
    width: 100%;
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
}

.logos {
    display: flex;
    width: 128px;
    outline-offset: -2px;
    height: 100%;
    padding-right: 0;
    padding: 16px 6px 16px 10px;
}

.logos img {
    width: 108px;
    height: auto;
    margin-top: -2px;
}

.teams {
    padding-top: 16px;
    font-size: 17.5px;
    font-family: "sreg";
    font-weight: 500;
    margin-left: 35px;
    letter-spacing: .3px;


}

.teams::before {
    content: '';
    height: 24px;
    background-color: black;
    width: 2px;
    position: absolute;
    border-radius: 50px;
    top: 15px;
    margin-left: -35px;

}

.nav {
    display: flex;
    height: 100%;
    white-space: nowrap;
    margin-left: 13px;
    overflow-x: visible;
    flex: 1 1 auto;
}

.nav ul {
    display: flex;
    padding: 6px 30px 16px 16px;
    gap: 30.5px;
    flex: 1;
    padding-top: 7px;

}

#nav-menu li:last-child img,
#nav-menu li:nth-child(3) img {
    display: none;
}


#nav-menu li:nth-child(3) {
    margin-left: -4.2px;
    padding-right: 2px;
}

#nav-menu li:last-child {
    margin-left: -4px;
}

#nav-menu li {
    font-weight: 500;
    list-style-type: none;
    box-sizing: border-box;
    margin-top: -3px;
    font-size: 12.5px;
    letter-spacing: 0.30px;
    line-height: normal;
    font-family: "sbold";
    /* font-size:; */
    flex-wrap: wrap;
    letter-spacing: .3px;
}

#nav-menu li a {
    text-decoration: none;
    color: black;

}

#nav-menu li a:hover {
    border-bottom: 2px solid black;

}

#nav-menu li img {
    width: 8px;
    height: 8.7px;
    margin-bottom: -2.3px;
    filter: invert(0);
    padding-left: 3px;
}

.rightbutton {
    padding-top: 10px;
    white-space: nowrap;
    font-family: "sreg";
    /* font-weight:100px;     */

}

.rightbutton button {
    padding: 6px 6px;
    border: 1px solid rgb(94, 91, 91);
    background-color: transparent;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13.5px;
    min-width: max-content;

}

.hideicon,
.hideteam {
    display: none;
}

.hideicon img {
    width: 20px;
    padding-left: 15px;
    padding-top: 20px;
    margin-top: 0;
}

.hideteam {
    border-bottom: 1px solid rgb(232, 228, 228);
    align-items: center;
    padding: 1px;
}

.hideteam p {
    line-height: 0;
    padding-left: 20px;
    font-family: "sreg";
}

.hideteam p img {
    width: 20px;
    margin-bottom: -5px;
}


.subhead {
    float: left;
    clear: none;
    padding-top: 25px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}

.businesshead {

    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
    border-bottom: 2.3px solid rgb(52, 52, 52);
    width: 91.2%;

}

.subbus {
    padding-left: .75rem;
    box-sizing: border-box;
    padding-right: .75rem;
    justify-content: center !important;
    align-items: center;
    display: flex;
}
.subbus div {
    border: 2px solid rgb(95, 94, 94);
    width: max-content;
    padding: 11px 11.5px;
    margin-bottom: -2px;
    font-family: "sreg";
    border-top-right-radius: 5px;

}


#bplans {
    border-top-left-radius: 5px;
    border-bottom: 1px solid white;
    background-color: white;
    color: rgb(59, 57, 57);
}

#hplans {
    background-color: rgb(243, 239, 239);
    border: 2px solid rgb(145, 142, 142);
    border-left: none;
    border-bottom: 2.3px solid rgb(52, 52, 52);
    color: rgb(70, 70, 70);
    height: 17px;
    margin-top: 5px;
}

.mainsection {
    width: 100%;
    box-sizing: border-box;

}

.mainsec {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    width: 90%;
    box-sizing: content-box;
    text-align: center;
    font-family: "sreg";
    position: relative;
    display: flex;
    flex-flow: column;
    min-width: 1px;
    word-wrap: break-word;
    text-align: center;

}

.mainsec #microdata {
    font-size: 3.1234rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
    padding-top: 7px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.mainsec #subdata {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 63px;
    font-family: "sbold";
}

.cardsec {
    width: 100%;
    float: left;
    clear: none;
    display: block;
    box-sizing: border-box;

}

.maincard {
    max-width: 1600px;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0 auto;
    /* width: 100%; */
    width: 69.5%;
    box-sizing: content-box;
}

.subcard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-inline: auto;
    clear: both;

}

.subcard .card {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    min-width: 1px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    font-family: "sreg";
    border-radius: 10px;
    box-sizing: border-box;

}


.cardtop {
    text-align: center;
    /* padding: 15px; */
    height: 40px;
    padding-top: 15px;
    align-items: center;
    background-color: #5d5bd4;
    color: white;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card.two .cardtop,
.card.three .cardtop {
    background-color: transparent;
}
         


.cardhead,
.cardtwohead,
.cardthreehead {
    text-align: center;
    align-items: center;
    margin-inline: auto;
    font-family: "sbold";
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px;




}

.cardhead h2,
.cardtwohead h2,
.cardthreehead h2 {
    font-size: 28px;
    height: max-content;
}


.amount {
    color: #5d5bd4;
    display: inline;
    font-size: 35px;
    font-family: "sreg";
    font-weight: 600;
}

.cardhead h4,
.cardtwohead h4,
.cardthreehead h4 {
    font-size: 16px;
    font-weight: 500;
}


.cardtwohead h3,
.cardthreehead h3 {
    font-size: 16px;
    font-family: "sreg";
    color: #0067b8;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    min-width: max-content;
    max-width: 70%;
    align-items: center;
    gap: 10px;
    margin: 15px auto;

}

.cardtwohead h3 img,
.cardthreehead h3 img {
    transform: rotateZ(270deg);
    height: 15px
}



.cardtwohead h3:hover,
.cardthreehead h3:hover {
    text-decoration: underline;
}

.card button {
    min-width: max-content;
    /* padding: 5px 25%; */
    background-color: #5d5bd4;
    color: white;
    font-family: "sreg";
    border: none;
    font-size: 16px;
    width: 85%;
    padding: 6px;
}

.card button:hover {
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.1);
}

.cardtwohead h6,
.cardthreehead h6 {
    font-size: 14.2px;
    font-family: "sbold";
    padding-top: 0;
    margin-top: 0;
}

.cardtwohead h5,
.cardthreehead h5 {
    font-size: 14.2px;
    font-family: "sreg";
    padding-top: 0;
    margin-top: 0;
    text-align: left;
    width: 100%;
}

.card ul {
    list-style-type: none;
    font-family: "sbold";
    padding: 0px 30px;
    font-size: 13px;

}

.card ul li {
    line-height: 2.4;
    display: flex;
    position: relative;



}

.card ul li img {
    width: 14px;
    fill: aqua;
    position: relative;
    padding-right: 10px;
}

.cardbottom {
    text-align: center;
    align-items: center;
    /* justify-content: flex-end; */
    box-sizing: border-box;
    padding-bottom: 50px;


}

.cardbottom #apps,
.cardbottom #webapp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

}

.cardbottom li {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    max-width: 90px;
    padding-bottom: 8px;
    
}


.cardbottom ul li img {
    width: 30px;
    height: 35px;
    padding-bottom: 5px;
    padding-top: 5px;

    /* padding-left: 8px; */
    /* padding: 10px; */
}

.cardbottom li span {
    display: flex;
    flex-flow: column;
}

.cardbottom li a {
    color: #0067b8;
    font-size: 14px;
    line-height: 1.5;
    flex-wrap: wrap;
}

.popular {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    min-width: 2%;
    margin-inline: auto;
    box-sizing: border-box;
    position: sticky;
    background-color: white;
    z-index: 3700;
    top: 0px;
    margin-top: 50px;

}


.mainpopular {
    max-width: 1600px;
    width: 90%;

    display: block;
    box-sizing: border-box;
    padding-top: 40px;


}


.subpopular {
    display: flex;
    flex-flow: row;
}

.partialsec {
    /* max-width: 800px; */
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 50px;

}




.popularcard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 50%;
    position: sticky;


}

.popularcard .card {
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
    font-family: "sbold";
    background-color: #f2f2f2;
    padding: 0px;
    padding-bottom: 10px;
}

.popularcard .card .cardtop {
    border-radius: 0;
    height: 30px;
    padding-top: 1px;
}

.popularcard .card .cardhead {
    padding: 0px;
    width: 100%;
}

.popularcard .card .cardhead h2 {
    font-size: 17px;

}

.popularcard .card .cardhead .amount {
    font-size: 18px;
    color: black;
    line-height: 0;
}

.popularcard .card .cardhead {
    font-size: 13px;
}

.popularcard .card .cardhead h4 {
    font-size: 15px;
    line-height: 1;
    padding-bottom: 10px;
}

.popularcard .card .cardhead a {
    font-size: 13px;
    display: flex;
    text-decoration: none;
    font-family: "sreg";
    color: #3183c4;
    line-height: 1;
    justify-content: space-between;
    max-width: 170px;

    margin: auto;
}


.popularcard .card .cardhead a img {
    transform: rotateZ(-90deg);
    width: 13px;
    height: 13px;
    margin-top: 3px;
}

.popularcard .card .cardhead h6 {
    font-size: 13px;
    line-height: 1;
    flex-wrap: wrap;
}




.tabledata {
    list-style-type: none;
}


.tabledata span {
    display: flex;
    font-family: "sbold";
}

.tabledata span img {
    width: 20px;
    padding-right: 10px;
}







.mainbootompopular {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    min-width: 2%;
    margin-inline: auto;
    box-sizing: border-box;
    margin-top: 50px;

}


.subbottom {
    max-width: 1600px;
    width: 90%;

    display: block;
    box-sizing: border-box;
    padding: 40px;


}

.subpopulardata {
    margin-top: -20px;
}

.subpopulardata div {
    display: flex;
    gap: 10px;

}

.subpopulardata div img {
    width: 20px;
    height: 20px;

}

.subpopulardata div {
    /* height: 40px !important; */
    /* padding-bottom: 10px; */
    align-items: center;
    margin-bottom: 1px;
    font-family: "sreg";


}

.subpopulardata div .datafirst {
    flex: 1 1 100%;
    background-color: #f2f2f2;
    padding: 25px;

}

.subpopulardata div .datasecond {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 1 1 100%;
    margin-top: 3px;

}

.subpopulardata div .datasecond div {
    background-color: #f2f2f2;
    justify-content: center;
    padding: 25px;


}




/* micro banner */

.copilot {
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: "sreg";
    position: relative;
    min-width: 1px;
    word-wrap: break-word;

}



.subcopilot {

    box-sizing: border-box;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1700px;
    margin-inline: auto;
    width: 100%;
    height: auto;
    /* min-height: 5.5px; */
    /* max-height: 504px; */
    background-color: #f2f2f2;
    max-height: max-content;


}

.pilotdata {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 40px;
}

.pilotdata h2 {
    font-family: "sreg";
    font-weight: 500;
    letter-spacing: -1.6px;
    font-size: 37px;
    line-height: 0.9;

}

.pilotdata p {
    font-family: "sbold";
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 1px;
    letter-spacing: -0.0245px;
}

.pilotimage {
    /* object-fit: cover; */
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.pilotimage img {
    width: 100%;
    /* object-fit: cover; */
    position: relative;
    height: 100%;
    /* object-position: center; */

}

.pilotdata .buttonsec {
    display: flex;
    flex-flow: row;
    gap: 40px
}

.pilotdata a {
    color: #3183c4;
}

.pilotdata .buttonsec button {
    border: none;
    background-color: #5d5bd4;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 15px;
    font-family: "sbold";
    border-radius: 2px;
    min-width: max-content;
    max-width: max-content;
    width: 100%;


}

.pilotdata .buttonsec .learn {
    border: 3px solid #5d5bd4;
    background-color: white;
    color: #5d5bd4;
}





.premium {
    width: 100%;
    float: left;
    clear: none;
    display: block;
    box-sizing: border-box;
    font-family: "sreg";
    position: relative;
    min-width: 1px;
    word-wrap: break-word;
    padding-top: 80px;
    padding-bottom: 80px;

}

.subpremium {

    max-width: 900px;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0 auto;
    width: 60%;
    box-sizing: content-box;

    height: auto;
    min-height: 5.5px;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.innersub {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}





.pre1 {
    max-width: 350px;



}

.pre1 h2 {
    font-family: "sreg";
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.pre1 button {
    min-width: max-content;
    /* padding: 5px 25%; */
    background-color: #5d5bd4;
    color: white;
    font-family: "sreg";
    border: none;
    font-size: 16px;
    padding: 6px 15px;

}

.pre1 P {
    margin: 0;
    padding-bottom: 15px;
}

.pre1 h4 {
    font-family: "sbold";
    font-size: 16px;
    padding-bottom: 15px;
    margin: 0;
}

.pre1 a {
    color: #0067b8;
    text-decoration: none;
    font-size: 16px;
    font-family: "sreg";
    font-weight: 500;

}

.pre1 a img {
    transform: rotateZ(270deg);
    height: 13px;
    margin-bottom: -1px;
    margin-left: 5px;

}

.pre1 a:hover {
    text-align: underline;
}

.pre2 {
    padding-top: 20px;

}

.pre2 h3 {
    font-weight: 600;
    font-size: 16px;
}

.pre2 ul {
    list-style-type: none;
    padding-left: 0;

}


.pre2 ul li {
    line-height: 2;
    font-size: 16px;
}

.pre2 ul li img {
    width: 15px;
    padding-right: 10px;

}



.frequency {
    padding-top: 80px;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    width: 100%;
    box-sizing: content-box;
    font-family: "sreg";
    position: relative;
    min-width: 1px;
    word-wrap: break-word;
    padding-bottom: 60px;

}



.subfrequency {

    box-sizing: content-box;
    display: grid;
    max-width: 1600px;
    margin-inline: auto;
    width: 100%;
    height: auto;
    min-height: 5.5px;
    max-height: max-content;
    font-family: "sreg";


}

.subfrequency h2 {

    font-size: 35px;
    font-weight: 500;
    line-height: 3;
}

.question .questiondiv{
    display: flex;
    flex-flow: row;
    border: 3px solid transparent;
 
    border-top: 1px solid rgb(171, 167, 167);
     padding-top: 20px;
    padding-bottom: 20px;

}

.question .answer{
    border-top: none;
    display: none;
    padding-bottom: 30px;
    line-height: 2;
    font-family: "sbold";
}

.question .answer a{
    color: #3183c4;
}
.links,
.link {
    display: flex;
    gap: 40px;
    flex-flow: row;
    color: rgb(69, 65, 65);
    font-family: "sreg";

}


.firstlink {
    color: #0067b8;
}

.firstlink::after {
    content: '';
    width: 1.5px;
    height: 16px;
    background-color: black;
    position: absolute;
    margin-top: 6px;
    margin-left: 20px;

}


.question div:hover{
    cursor: pointer;
}
.questiondiv img {
    width: 20px !important;
    padding-right: 10px;
    max-height: 25px;
    transform: rotate(0deg);
}




/*     options    */



.moreoption {
    padding-top: 80px;
    margin: 0 auto;
    width: 100%;

    box-sizing: content-box;
    font-family: "sreg";
    position: relative;
    min-width: 1px;
    word-wrap: break-word;
    padding-bottom: 60px;
    align-items: center;
}



.suboptions {

    box-sizing: content-box;
    max-width: 1600px;
    margin-inline: auto;
    width: 100%;
    height: auto;
    min-height: 5.5px;
    max-height: max-content;
    font-family: "sreg";
    text-align: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;


}

.suboptions h2 {
    font-family: "sreg";
    font-weight: 500;
    font-size: 37px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 30px;

}


.options li {
    list-style-type: none;
    display: flex;
    max-width: 89px;

    padding-right: 25px;
    height: 100px;
    min-width: min-content;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 40px;

}

.options li a {
    display: flex;
    flex-flow: column;
    color: #0067b8;

}

.options li a img {
    width: 80px;
    aspect-ratio: 1/1;
}












/* micro section */

.mainmicro {
    width: 100%;
    background-color: #5d5bd4;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    margin-bottom: 80px;
    box-sizing: border-box;
    display: flex;
    height: max-content;
    justify-content: center;
}

.submicro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 1600px;
    padding-top: 80px;
    box-sizing: border-box;
    padding-bottom: 70px;
    width: 90%;
}

.submicro a{
    text-decoration: none;
}

.microdata {
    display: flex;
    flex-flow: column;
    color: white;
    font-family: "sbold";
    max-width: 86%;
    width: 100%;
    padding-top: 70px;
     
}




.microdata h2 {

    font-size: 36px;
}


#microbutton {
    display: flex;
    padding-left: 0;
    margin-right: 0;
    float: left;
}

#microbutton button {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    padding: 8px;
    font-weight: 500;
    /* min-width: max-content; */

}

#microbutton .microb1  {
    background-color: white;
    color: #5d5bd4;
    
}

#microbutton .microb2 {
    background-color: transparent;
    border: 2px solid rgb(216, 214, 214);
    color: white;
}

#goto {
    display: flex;
    padding-top: 20px;

}

#goto a {
    color: white;
    padding-left: 40px;
    font-family: "sreg";
    flex-wrap: nowrap;
    display: flex;

}

#goto img {
    width: 20px;
    filter: invert(1);
    padding-left: 40px;
    margin-bottom: -5px;
    height: 20px;

}



.microimg {
    padding-left: 150px;
}



.microimg .imgsec img {
    width: 70px;
}



.microimg .datasec img {
    width: 20px;
    filter: invert(1);
    height: 20px;
    margin-top: 4px;
}


.microimg div {
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;

}

.microimg .datasec {
    display: flex;
    flex-flow: column;
    color: white;
    font-size: 29px;
    font-family: "sbold";
    font-weight: 600;
}

.microimg .datasec a {
    color: white;
    display: flex;
    font-size: 16px;
    font-family: "sbold";
    font-weight: 400;
    text-decoration: none;
}

.mainpolicy {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    padding-bottom: 30px;

}

.policies {
    display: block;
    max-width: 1600px;
    width: 90%;
}

.terms {
    list-style-type: none;


}

.terms li {
    font-size: 14.4px;
    font-family: "sbold";
    letter-spacing: -0.3px;
    padding-bottom: 23px;
    line-height: 1.6;


}

.terms li a,
.terms li span {
    color: #3183c4;
}


.social {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.subsocial {
    display: flex;
    max-width: 1600px;
    width: 100%;

}


#socialdata {
    margin-top: 18px;
    font-family: "sbold";
    padding-left: 40px;

}

#socialimg {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

#socialimg img {
    width: 32px;
}





















/*    footer  */



















footer {
    bottom: 0;
    max-width: 100vw;
    width: 100%;
    background-color: #f2f2f2;
    display: grid;

    padding-bottom: 3px;
    height: max-content;
    place-items: center;
    color: rgb(85, 82, 79);

}

#footer-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: calc(1600px + 10%);
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding-left: 2.8%;
    padding-top: 18px;
    padding-right: 6.35%;

}

#footer-container h3 {
    font-size: 14.6px;
    font-family: "sreg";
    font-weight: 500;
    line-height: 1;
    letter-spacing: .2px;
    padding-left: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
}


#footer-container li {
    line-height: 2.91;
    font-family: "sbold";
    font-size: 11px;
    /* padding:9px 0; */
    /* width: max-content; */
    list-style-type: none;
    word-break: break-word;
}


#footer-container li a {
    color: rgb(85, 82, 79);
    text-decoration: none;
}


#footer-container li a:hover {
  
    text-decoration: underline;
}

.footerbottom {
    max-width: calc(1600px + 10%);
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    line-height: 2.5;
    font-family: "sbold";
    font-size: 11px;
    justify-content: space-between;
    /* padding: 30px 5% 16px; */
    margin: 0 auto;
    /* padding-top: 2.8px; */
    padding-bottom: 3px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 4.4%;

    padding-right: 6.2%;
}








.footerbottom .foot1 {
    float: left;
    padding-top: 12px;
}

.footerbottom .foot1 #spanone {
    margin-top: -20px;
}

.footerbottom .foot2 {
    float: right;
}

.foot1,
.foot2 {

    min-width: fit-content;
}

.foot1 span {
    padding-left: 10px;
    padding-right: 7px;
}

.foot1 img {
    height: 22px;
    margin-bottom: -6px;
    padding-right: 2px;
}

.foot2 ul {
    display: flex;
    gap: 26px;
}

.foot1 #spantwo img {
    height: 16px;
    margin-bottom: -3px;
    padding-right: 4px;
}

.foot1 #spantwo {
    padding-right: 11.5px;
}







.footerbottom {
    max-width: calc(1600px + 10%);
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    line-height: 2.5;
    font-family: "sbold";
    font-size: 11px;
    justify-content: space-between;
    /* padding: 30px 5% 16px; */
    margin: 0 auto;
    /* padding-top: 2.8px; */
    padding-bottom: 3px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 4.4%;

    padding-right: 6.2%;
}

.footerbottom .foot1 {
    float: left;
    padding-top: 12px;
}

.footerbottom .foot1 #spanone {
    margin-top: -20px;
}

.footerbottom .foot2 {
    float: right;
}

.foot1,
.foot2 {

    min-width: fit-content;
}

.foot1 span {
    padding-left: 10px;
    padding-right: 7px;
}

.foot1 img {
    height: 22px;
    margin-bottom: -6px;
    padding-right: 2px;
}

.foot2 ul {
    display: flex;
    list-style-type: none;
    gap: 26px;
}

.foot1 #spantwo img {
    height: 16px;
    margin-bottom: -3px;
    padding-right: 4px;
}

.foot1 #spantwo {
    padding-right: 11.5px;
}










@media screen and (max-width:1768px) {
    .nav ul {
        gap: 15px;
    }

    .cardbottom #apps,
    .cardbottom #webapp {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
       



    }
}



@media screen and (max-width:1400px) {

    .cardbottom #apps,
    .cardbottom #webapp {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .maincard {
        width: 100%;
        padding-left: 0;
        max-width: 1600px;
        justify-content: center;
        box-sizing: content-box;
    
    }
   
    .mainsec #microdata {
        font-size: 2.9rem;
        margin: bottom 0px;
        padding-bottom: 0;
    }




    .pre1 h2,
    .pre1 .amount {
        font-size: 1.7rem;
    }

    .pilotdata h2 {
        font-size: 2.1rem;
    }




    .suboptions h2 {
        font-family: "sreg";
        font-weight: 500;
        font-size: 28px;
    }



    .microdata h2 {

        font-size: 1.8rem;
    }



    .microimg .imgsec img {
        width: 60px;
    }


    .microimg .datasec {

        font-size: 1.7rem;

    }

    .microimg .datasec a {
        font-size: 16px;


    }

    .popularcard .card .cardhead {
        font-size: 14px;
    }

    .popularcard .card .cardhead h2 {
        font-size: 15px;

    }













}


@media screen and (max-width:1300px) {
    .footerbottom {
        display: flex;
        flex-flow: column;
        width: 100%;
        padding-right: 0px;
        margin-right: 10PX;

    }

    .footerbottom .foot2 {

        min-width: fit-content;
        margin-right: 50PX;



    }


    .foot2 ul {
        max-width: 100%;
        display: flex;
        overflow: auto;
        min-width: fit-content;
        flex-wrap: wrap;
        line-height: 1;

    }

    .foot2 ul li {
        min-width: fit-content;

    }
}




@media screen and (max-width:1318px) {

    .cardbottom #apps,
    .cardbottom #webapp {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}





@media screen and (max-width:1084px) {

    .header {
        padding-left: 0px;
        margin-left: -30px;
    }

    .rightbutton {
        display: none;
    }

    .mainsec #microdata {
        font-size: 2.3125rem;
        margin-bottom: 0;
    }

    .pre1 h2,
    .pre1 .amount {
        font-size: 1.3rem;
    }

    .pilotdata h2 {
        font-size: 1.7rem;
    }



    .suboptions h2 {
        font-family: "sreg";
        font-weight: 500;
        font-size: 24px;
    }



    .subfrequency h2 {

        font-size: 26px;
        line-height: 1;
    }


    .microimg {
        padding-left: 10px;
    }


    .microdata h2 {

        font-size: 1.5rem;
    }



    .microimg .imgsec img {
        width: 50px;
    }


    .microimg .datasec {

        font-size: 1.5rem;

    }

    .microimg .datasec a {
        font-size: 14px;

    }

    .policies {


        margin-left: -50px;
        width: 99%;

    }



    .subsocial {

        max-width: 900px;
        width: 90%;

    }

    #socialdata {
        margin-left: -30px;
        white-space: nowrap;
    }


    .mainpopular {
        width: 100%;
    }

    .subpopular {
        display: flex;
        flex-flow: column-reverse;
        max-width: 1300px;
        width: 100%;


    }

    .partialsec,
    .popularcard {
        width: 100%;
        max-width: 1400px;
        min-width: 2px;
        /* flex: 1 1 100%; */

    }


    .tabledata {
        display: flex;
        font-size: 13px;
        gap: 10px;
        margin-left: -20px;
    }

    .tabledata li img {
        width: 15px;


    }

    .mainbootompopular {
        width: 100%;

    }


    .subpopulardata div {
        display: flex;
        flex-flow: column;
        width: 100%;
        font-size: 15px;



    }


    .subpopulardata div .datafirst {
        /* flex: 1 1 100%; */
        background-color: #f2f2f2;
        display: flex;
        flex-flow: row;
        padding-bottom: 0;
    }

    .subpopulardata div .datasecond {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* flex: 1 1 100%; */
        padding-left: 0;
        margin-left: -50px;
        margin-top: -12px;
    }

    .subpopulardata div img {
        width: 15px;
    }







    #footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;


    }


}




@media screen and (max-width:963px) {

    .cardbottom #apps,
    .cardbottom #webapp {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: left;
    }

    .mainsec #microdata {
        font-size: 2rem;
    }
}



@media screen and (max-width:924px) {

    .pilotdata .buttonsec {
        display: flex;
        gap: 15px;
        flex-flow: column;

    }

}


@media screen and (max-width:858px) {

    .teams,
    .nav {
        display: none;

    }

    .top {

        justify-content: center;
        border-bottom: 1px solid rgb(238, 238, 236);
    }

    .hideteam,
    .hideicon {
        display: flex;
    }

    .logos {
        margin-top: -30px;
    }


    .subhead {
        padding-top: 70px;
    }

    .mainsec #microdata {
        font-size: 1.8rem;
        padding-top: 20px;
    }

    #rightbutton * {
        display: none;
        white-space: nowrap;
    }

    .subcard {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .cardbottom #apps,
    .cardbottom #webapp {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;



    }


    .subpremium {
        width: 80%;

    }

    .innersub {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        clear: both;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .copilot {
        max-width: max-content;
        width: 100%;
        min-width: 2px;



    }

    .subcopilot {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 30px;
        padding-top: 20px;



    }

    .pilotdata {
        align-items: left;
        /* margin-left: -160px; */
        padding-left: 20px;
        padding-right: 20px;
        justify-content: left;
        display: flex;


    }

    .pilotdata h2 {
        font-size: 1.5rem;
    }

    .pilotimage {
        max-height: 520px;


    }

    .pilotdata .buttonsec {
        display: flex;
        gap: 15px;
        flex-flow: row;
    }



    .frequency {

        padding-left: 1px;
    }





    .submicro {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 0;
        justify-content: left;
        width: 100%;


    }



    .microimg {
        padding-top: 50px;
        padding-left: 0;
        margin-left: -40px;
    }

    .microimg .imgsec {

        flex: 0 0 16.6667%;
        max-width: 16.6667%;

    }

    .microimg .imgsec img {

        width: 100%;
        height: 100%;

    }




    .tabledata {
        display: flex;

        flex-flow: column;
    }

}




@media screen and (max-width:540px) {



    .pilotdata .buttonsec {
        display: flex;
        gap: 15px;
        flex-flow: column;
    }



    .pilotdata .buttonsec button {
        max-width: max-content;
        width: 100%;
        min-width: 2px;

    }




    #footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;
        margin-left: 0;
    }



    .microdata {
        width: 100%;
        max-width: 560px;
    }

    .microdata #microbutton {
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .microdata #microbutton button {
        max-width: 400px;
        min-width: none;
        width: 100%;
    }

    .subsocial {
        display: flex;
        flex-flow: column;

    }


    #socialimg {
        margin-left: -30px;
    }

    .footerbottom .foot1 {
        display: flex;
        flex-flow: column;
    
    }

    .footerbottom .foot2{
        margin-left: -25px;
    }

}